module.exports = {
	gettype: function(url){
		var type = 'datei';
        if (url.match(/\.(jpeg|jpg|gif|png)$/) != null){
        	type = 'bild';
		}
        if ((url.match(/\.(html|php)$/) != null) || (url.indexOf('.') < url.length - 5) || url.split("/")[2] == url) {
        	type = 'seite';
		}
//		var type = document.getElementById(url).files[0].type;
		return type;
	}
}
